[submodule "deps/Pattern16"]
	path = deps/Pattern16
	url = https://github.com/Dasaav-dsv/Pattern16.git
[submodule "deps/common"]
	path = deps/common
	url = https://github.com/ianpatt/common
[submodule "deps/skse64"]
	path = deps/skse64
	url = https://github.com/ianpatt/skse64
[submodule "deps/inicpp"]
	path = deps/inicpp
	url = https://github.com/dujingning/inicpp.git
